<launch>


    <node pkg="ptn_pkg" type="ptn_pkg_node" name="ptn_pkg_node" output="screen">   
    </node>

    <node pkg="trj_pkg" type="trj_pkg_node" name="trj_pkg_node" output="screen">   
    </node>

    <node pkg="hctr_pkg" type="hctr_pkg_node" name="hctr_pkg_node" output="screen">   
    </node>
    
    <node pkg="slam_pkg" type="slam_pkg_node" name="slam_pkg_node" output="screen">   
    </node>

</launch>